
<div class="image-gallery-top">
    <div class="top-left">
        <div routerLink="/images" class="icon button">
            <app-icon icon="back"></app-icon>
        </div>
        <h1>
            {{selectedGallery | titlecase}}
        </h1>
    </div>

    <div>
        <div (click)="openImageUpload()" class="icon button">
            <app-icon icon="plus"></app-icon>
        </div>
    </div>
</div>
<div class="page" *ngIf="!isLoading">
    
    <div class="image-gallery-search">
    
        <app-search-box
        [(value)]="filterString"
        label="title"
        [optionSelectFunction]="searchImages.bind(this)"
        (valueChange)="searchImages()"
        >
        </app-search-box>
    
    
        <app-search-box
        label="tags"
        [options]="tags"
        [optionSelectFunction]="addTagFilter.bind(this)"
        >
        </app-search-box>
    
    </div>
    <div class="image-tags">
        <div class="image-tag" *ngFor="let tag of filterTags; let i = index">
            {{tag | titlecase}} 
            <div class="light icon button" (click)="removeFilterTag(i)">
                <app-icon icon="delete"></app-icon>
            </div>
        </div>
    </div>
    
    <app-image-upload
    [(isVisible)]="addingNewImage"
    [submitFuntion]="addImage.bind(this)"
    >
    </app-image-upload>
    
    
    <div class="image-list">
        <div class="image button" *ngFor="let image of filteredImages" routerLink="{{image._id}}">
            <img src="{{apiUrl}}/api/image/{{selectedGallery}}/{{image._id}}.png">
            <div>
            {{image.title | titlecase}}
            </div>
        </div>
    </div>

</div>

<div *ngIf="isLoading">
    <app-loading></app-loading>
</div>


<div 
*ngIf="snackbar.msg" 
class="snackbar" 
ngClass="{{snackbar.hidden?'fade-out':'fade-in'}} 
{{snackbar.success?'success':'failure'}}"
>
    <div class="msg">
        {{snackbar.msg}}
    </div>
    <div class="gradient">
    </div>
</div>
