
<div class="image-gallery-top">
    <div class="top-left">
        <div routerLink="/images" class="icon button">
            <app-icon icon="back"></app-icon>
        </div>
        <h1>
            {{selectedGallery | titlecase}}
        </h1>
    </div>

    <div>
        <div (click)="openImageUpload()" class="icon button">
            <app-icon icon="plus"></app-icon>
        </div>
    </div>
</div>
<div class="page" *ngIf="!isLoading">
    
    <div class="image-gallery-search">
    
        <app-search-box
        label="title"
        >
        </app-search-box>
    
    
        <app-search-box
        label="tags"
        >
        </app-search-box>
    
    </div>
    
    <app-image-upload
    [(isVisible)]="addingNewImage"
    [submitFuntion]="addImage.bind(this)"
    >
    </app-image-upload>
    
    
    <div class="image-list">
        <div class="image button" *ngFor="let image of images" routerLink="{{image._id}}">
            <img src="data:image/png;base64,{{image.lowResSrc}}">
            <div>
            {{image.title | titlecase}}
            </div>
        </div>
    </div>

</div>

<div *ngIf="isLoading">
    <app-loading></app-loading>
</div>


<div 
*ngIf="snackbar.msg" 
class="snackbar" 
ngClass="{{snackbar.hidden?'fade-out':'fade-in'}} 
{{snackbar.success?'success':'failure'}}"
>
    <div class="msg">
        {{snackbar.msg}}
    </div>
    <div class="gradient">
    </div>
</div>
