
:root{
    --primary-color: #00770c;
    --primary-light: #4aa153;
    --primary-dark: #005208;

    --secondary-color: #6c757d;
    --secondary-light: #cfd8e1;
    --secondary-dark: #495057;
    
    --background-color: #ffffff;
    --background-dark: #e6e6e6;
    
    --text-color: #333333;
    --text-light: #ffffff;
    --text-muted: #6c757d;
}

*{
    color: var(--text-color);
}
a{
    color: #36c;
    text-decoration: none;
}
a:visited{
  color:#795cb2
}
a:active{
    color: #edab00;
}
a:hover{
    text-decoration: underline;
}


html{
    background-color: var(--background-color);
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
}

*[color=default]{
    background-color: var(--background-color);
    color: var(--text-color);
}
*[color=primary]{
    background-color: var(--primary-dark);
    color: var(--text-light);
}
*[color=secondary]{
    background-color: var(--secondary-light);
    color: var(--text-light);
}

.hidden{
    visibility: hidden;
    display: none;
}

.button:hover{
    filter: brightness(.9);
    cursor: pointer;
}

.button:active{
    filter: brightness(1.1);
}

app-standard-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

*[contenteditable="true"]:focus{
    outline: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pop-up{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(135, 135, 135, 0.455);
    z-index: 7;
}

.pop-up-card{
    background-color: var(--background-color);
    padding: 15px;
    border-radius: 15px;
}

.disabled{
    background-color: var(--secondary-color);
}
.errMsg{
    text-align: center;
    color: red;
}


.fade-out{
    opacity: 0;
    transition: opacity 1s;
}
.fade-in{
    opacity: 1;
    transition: opacity .5s;
}
.snackbar{
    display: flex;
    position: fixed;
    text-align: left;
    position: fixed;
    bottom: calc(68.38px + 15px);
    font-weight: bold;
    left: 0;
    right: 0;
    z-index: 3;
}
.snackbar * {
    flex-grow: 1;
    padding: 10px 20px;
}
.snackbar.success .gradient{
    background: linear-gradient(to right, lime, var(--background-color));
}
.snackbar.success .msg{
    background-color: lime;
}
.snackbar.failure .gradient{
    background: linear-gradient(to right, red, var(--background-color));;
}
.snackbar.failure .msg{
    color: black;
    background-color: red;
}