<div class="linkContainer">
    <app-search-box [(value)]="newLink"></app-search-box>

    <div class="linkButtonsContainer">
        <div class="linkButtons">

            <div class="edit button" (mousedown)="addLink()">
                <div class="button-text">Create Link</div> <app-icon class="button-icon" icon="link"></app-icon>
            </div>
            <div class="edit button" (mousedown)="removeLink()">
                <div class="button-text">Remove Link</div> <app-icon class="button-icon" icon="link off"></app-icon>
            </div>

        </div>
    </div>
</div>