.linkContainer{
    display: flex;
    align-items: center;
}
.linkButtonsContainer{
    margin-left: 15px;

}

.edit.button{
    padding: 15px;
    background-color: var(--primary-light);
    color: var(--background-dark)
}
.linkButtons{
    display: flex;
    flex-direction: column;
    align-self: center;
    border-radius: 15px;
    overflow: hidden;
}