<app-navbar 
[pageList]="pageList"
*ngIf="!editMode"
>
</app-navbar>

<div *ngIf="editMode" id="toolbar-margin">
</div>
<app-edit-toolbar 
id="edit-toolbar"
*ngIf="editMode"
[(data)]="pageContents"
[elementsContainer]="elementsContainer"
>
</app-edit-toolbar>

<div *ngIf="!isLoading" class="page" [ngClass]="editMode?'editMode':'viewMode'">

    <div class="page-top">
        <div class="page-title">
            <div class="title-top">
                <app-icon class="icon button" [icon]="'home'" routerLink="/page"></app-icon>
                <h1>
                    {{title | titlecase}}
                </h1>
            </div>

            <div class="page-registered" *ngIf="pageRegistered !== null">
                • {{pageRegistered?'Registered Page':'Unregistered page'}}
            </div>
        </div>

        <div class="edit-buttons">
            <div *ngIf="pageRegistered" class="edit button" (click)="setDiologue('Are you sure you want to delete this page?', deletePage.bind(this))">
                Delete page
            </div>
    
            <div class="edit button" (click)="pageRegistered?toggleEditMode():savePageContents()">
                {{!pageRegistered?"register":editMode?"Save page":"Edit page    "}}
            </div>
        </div>

    </div>


    <div *ngIf="pageRegistered" #elementsContainer class="elementsContainer" (ngClass)="editMode?'editMode':''">
        <div *ngFor="let element of pageContents; let i=index" class="element">
            <div *ngIf="editMode" class="elementType">
                {{element.type}}
            </div>

            <app-header
            *ngIf="element.type === 'Header'"
            [editMode]="editMode"
            [(data)]="pageContents[i]"
            (enterPressed)="handleEnterPress(i)"
            (deleteElement)="deleteElement(i)"
            >
            </app-header>
    
            <app-paragraph 
            *ngIf="element.type === 'Paragraph'"
            [editMode]="editMode"
            [(data)]="pageContents[i]"
            (enterPressed)="handleEnterPress(i)"
            (deleteElement)="deleteElement(i)"
            >
            </app-paragraph>

            <app-image
            *ngIf="element.type === 'Image'"
            [editMode]="editMode"
            [(data)]="pageContents[i]"
            (enterPressed)="handleEnterPress(i)"
            (deleteElement)="deleteElement(i)"
            >
            </app-image>
    
        </div>
    </div>
</div>


<div *ngIf="isLoading">
    <app-loading></app-loading>
</div>


<div 
*ngIf="snackbar.msg" 
class="snackbar" 
ngClass="{{snackbar.hidden?'fade-out':'fade-in'}} 
{{snackbar.success?'success':'failure'}}"
>
    <div class="msg">
        {{snackbar.msg}}
    </div>
    <div class="gradient">
    </div>
</div>

<div class="pop-up" *ngIf="diologue.open">
    <div class="pop-up-card">
        <h3 class="diologue-text">
            {{diologue.text}}
        </h3>
        <div class="diologue-options">
            <div class="card button" (click)="diologue.declineFunction()">
                Decline
            </div>
            <div class="card button" (click)="diologue.confirmFunction()">
                Confirm
            </div>
        </div>
    </div>
</div>

<button (click)="test()">test</button>