.editMode{
    border: 3px var(--primary-color) solid;
}
.viewMode{
    border: 3px var(--background-color) solid;
}

.page{
    margin: 15px;
    padding: 15px;
}
.title-top{
    display: flex;
    align-items: center;
}
.title-top .icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--background-dark);
    border-radius: 50%;
    margin: 10px;
}



.page-top{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
}

.page-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page-top h1{
    padding: 5px 50px 5px 5px;
    border-bottom: 3px var(--primary-dark) solid;
}
.page-registered{
    color: gray;
}
.edit.button{
    padding: 15px;
    background-color: var(--primary-light);
    color: var(--background-dark);
    border-radius: 15px;
}



.element{
    margin: 10px;
    border: 2px rgba(0, 0, 0, 0) solid;
    position: relative;
}
.elementType{
    position: absolute;
    background-color: var(--background-color);
    font-size: 15px;
    margin: 0;
    top: -10px;
    left: 10px;
    color: var(--primary-color);
}
.editMode .element{
    border-color: var(--primary-color);
}


#toolbar-margin{
    margin-bottom: 150px;
}
#edit-toolbar{
    z-index: 6;
    position: fixed;
    top: 0;
    left: 5px;
    right: 5px;
}

.page{
    position: relative;
}


.diologue-text{
    min-width: 30vw;
    max-width: 50vw;
    flex-wrap: wrap;
    text-align: center;
}

.card.button{
    color: var(--background-color);
    background-color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 5px;
}

.diologue-options{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.edit-buttons{
    display: flex;
}
.edit-buttons *{
    margin: auto 10px;
}


@media(max-width: 850px){
    .page{
        margin: 5px;
        padding: 5px;
    }
}
@media(max-width: 600px){
    .page{
        margin: 5px;
        padding: 5px;
    }
    .element{
        margin: 10px 0;
    }
    p{
        margin: 0;
    }
}