.page{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-evenly;
}

.page-link{
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--background-dark);
    margin: 10px;
    padding: 20px 15px;
    border-radius: 15px;
}

.page-top{
    display: flex;
    justify-content: space-between;
    background-color: var(--background-dark);
    border-bottom: 3px var(--primary-color) solid;
    align-items: center;
}

.title{
    margin-left: 15px;
}