<div class="top">
    <div class="user title">
        <div>Welcome</div>
        <h1 class="userName">{{userName}}</h1>
    </div>

    <div class="logout standard button" (click)="logout()">Log out</div>
</div>

<div class="main-body">
    <h2 class="subtitle">What this website is about</h2>
    <p>
        This is a wiki website designed to let you easily add and update pages. This allows for organizing information and gathering thoughts more easily. You can upload images, add links, and write text on different pages all in one place.
    </p>
</div>



