.page{
    margin-bottom: 15px;
}

.icon.button{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin: 15px;
}
.icon.button *{
    color: var(--background-dark);
}
.delete.icon.button{
    margin: 0;
    background-color: var(--primary-light);
}

.page-top{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--background-dark);
    border-bottom: 3px var(--primary-color) solid;
}

.img{
    width: 75vw;
    margin-top: 15px;
}
.tag{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: var(--primary-light);
    color: var(--background-dark);
    border-radius: 15px;
    margin: 5px;
}
.tag-text{
    color: var(--background-dark);
    padding: 10px 0;
}
.img-tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errMsg{
    color: red;
}