<div class="page" *ngIf="!isLoading">
    <div class="page-top">
        <div (click)="goBack()" class="icon button">
            <app-icon icon="back"></app-icon>
        </div>

        <h1>{{img.title | titlecase}}</h1>

        <div (click)="toggleEditMode()" class="icon button">
            <app-icon *ngIf="!editMode" icon="edit"></app-icon>
            <app-icon *ngIf="editMode" icon="check"></app-icon>
        </div>
    </div>

    <app-search-box *ngIf="editMode" [(value)]="img.title"></app-search-box>

    <img class="img" src="data:image/png;base64,{{img.highResSrc}}">

    <app-search-box *ngIf="editMode" [(value)]="newTagName" [optionSelectFunction]="addTag.bind(this)"></app-search-box>
    <div *ngIf="editMode" class="icon button" (click)="addTag(newTagName)">
        <app-icon icon="plus"></app-icon>
    </div>
    <div class="errMsg">
        {{tagErrMsg}}
    </div>

    <div class="img-tags">
        <div class="tag" *ngFor="let tag of img.tags; let i = index">
            <div class="tag-text">
                {{tag | titlecase}}
            </div>
            <div *ngIf="editMode" (click)="removeTag(i)" class="delete icon button">
                <app-icon icon="delete"></app-icon>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isLoading">
    <app-loading></app-loading>
</div>

<div 
*ngIf="snackbar.msg" 
class="snackbar" 
ngClass="{{snackbar.hidden?'fade-out':'fade-in'}} 
{{snackbar.success?'success':'failure'}}"
>
    <div class="msg">
        {{snackbar.msg}}
    </div>
    <div class="gradient">
    </div>
</div>