.main-content{
    display: flex;
    flex-grow: 1;
    flex-direction: column;

}

.tabOffset{
    height: 68.38px;
}



.tabs{
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
}
