.main-content{
    min-height: 100vh;
    display: flex;
    flex-grow: 1;
    flex-direction: column;

}

.tabOffset{
    height: 68.38px;
}



.tabs{
    position: fixed;
    bottom: 0;
    width: 100vw;
}
