.main-content{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* .tabOffset{
    height: 68.38px;
} */



.tabs{
    box-sizing: border-box;
    bottom: 0;
}
