
<div class="image-element">

    <div class="image-container" >
        <div class="relative-container">
            @if(isLoading){
                <app-loading class="image"></app-loading>
            } @else{
    
                @if(imageId){
                    <img class="image"
                    [routerLink]="data.imageId && !editMode?
                    ['/images', 'concept', data.imageId]
                    :null"
                    src="{{apiUrl}}/api/uploads/concept/{{data.imageId}}.png"
                    >
                } @else {
                    <div class="image" *ngIf="!imageId">
                        <app-icon icon="image" size="200px"></app-icon>
                    </div>
                }
    
            }
            <div *ngIf="editMode" class="edit image icon button" (click)="openImageSelect()">
                <app-icon icon="edit"></app-icon>
            </div>
        </div>

    </div>



    <p *ngIf="editMode" [innerHtml]="innerHtml" contentEditable="true" (blur)="cacheChanges($event)" (keydown)="keyDownHandler($event)">
    </p>

    <p [innerHtml]="innerHtml" *ngIf="!editMode">
    </p>

</div>


<app-image-select
*ngIf="selectComponentOpen"
[(isVisible)]="selectComponentOpen"
[selectFuntion]="selectImage.bind(this)"
></app-image-select>
