
<div class="image-element">

    <div class="image-container" >
        @if(isLoading){
            <app-loading class="image"></app-loading>
        } @else{

            @if(imageUrl){
                <img class="image"
                [routerLink]="data.imageLocation._id?
                ['/images', data.imageLocation.pageName, data.imageLocation._id]
                :null"
                src="data:image/png;base64,{{imageUrl}}"
                >
            } @else {
                <div class="image" *ngIf="!imageUrl">
                    <app-icon icon="image" size="200px"></app-icon>
                </div>
            }

        }

        <div *ngIf="editMode" class="edit image icon button" (click)="openImageSelect()">
            <app-icon icon="edit"></app-icon>
        </div>
    </div>



    <p *ngIf="editMode" [innerHtml]="innerHtml" contentEditable="true" (blur)="cacheChanges($event)" (keydown)="keyDownHandler($event)">
    </p>

    <p [innerHtml]="innerHtml" *ngIf="!editMode">
    </p>

</div>


<app-image-select
*ngIf="selectComponentOpen"
[(isVisible)]="selectComponentOpen"
[selectFuntion]="selectImage.bind(this)"
></app-image-select>
