
.image{
    height: 200px;
    width: auto;
    max-width: 45vw;
    background-color: var(--background-dark);
    justify-content: center;
    align-self: center;
}
@media (min-width: 45vw) {
    .image {
        height: auto;
    }
}


.icon.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
.icon.button * {
    color: var(--background-dark);
}
.image-container{
    display: flex;
    position: relative;
}
.edit.image.icon.button{
    position: absolute;
    top: -10px;
    left: -10px;
}


p{
    display: flex;
    text-align: left;
    text-wrap: wrap;
    margin: 0;
    padding: 5px 10px;
}


.image-element{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

@media(max-width: 600px){
    .image-element{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }


    .image{
        margin-top: 15px;
        width: auto;
        height: 200px;
        max-width: 80vw;
    }
    @media (min-width: 80vw) {
        .image {
            height: auto;
        }
    }

    
}