.asset-gallery-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--background-dark);
    border-bottom: 3px var(--primary-color) solid;
    align-items: center;
}
.asset-gallery-page{
    display: flex;
    flex-wrap: wrap;
}

.title{
    margin-left: 15px;
}

.asset-folder{
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
}
.asset-folder *{
    color: var(--background-dark);
    margin: 0 5px;
}


.icon.button{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin: 15px;
}
.icon.button *{
    color: var(--background-dark);
}
.light.icon.button{
    background-color: rgb(0,0,0,0);
}

.top-right{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.input{
    margin: 0 10px;
}

.asset-gallery-search{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.filter-section{
    display: flex;
    flex-direction: column;
}

.filter-tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.filter-tag{
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: var(--primary-light);
    color: var(--background-dark);
    border-radius: 15px;
    margin: 5px;
}

@media(max-width: 275px){
    .title{
        width: 125px;
    }
}