.tabs{
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    background-color: var(--primary-dark);
}
.tab{
    display: flex;
    background-color: var(--primary-light);
    border-radius: 15px;
    align-items: center;
    padding: 10px;
}
.tab:hover{
    cursor: pointer;
    filter: brightness(95%)
}
.tab:active{
    filter: brightness(105%);
}
.tab *{
    color: var(--background-dark);
}
.text{
    display: flex;
    align-content: center;
}

.selected{
    background-color: var(--primary-color);
}

@media (max-width: 400px){
    .text{
        display: none;
    }
    .tab{
        padding: 10px 20px;
    }
}
@media (max-width: 300px){
    .tab{
        padding: 5px 10px;
    }
}