<div class="animation-element" 
style="
--animation-height: {{imgHeight}}px;
--animation-width: {{animationWidth}}px;
--total-frames: {{frames}}
"
>
    <h3 class="item-title">        
        <div *ngIf="isEditing" class="delete icon button" (click)="deleteFunction()">
            <app-icon icon="delete"></app-icon>
        </div>
        {{title}}
    </h3>

    <div #containerImage class="image-container">
        <img 
        #animationImage
        style="--frame-index: {{frameIndex}}"
        (load)="imageLoad()" 
        src="{{spritesheetSrc}}" 
        class="image"
        >

    </div>
    
    <div class="animation-bottom">
        <div 
        class="icon button"
        (click)="isAnimating?stopAnimating():startAnimating()"
        >
            <app-icon
            [icon]="isAnimating?'pause':'play'"
            ></app-icon>
        </div>
    </div>

</div>
