<div class="asset-gallery-top">
    <div class="title-container">
        <div class="icon button" (click)="goBack()">
            <app-icon icon="back"></app-icon>
        </div>
        <h1 class="title">
            {{assetName | titlecase}}
        </h1>
    </div>
    <div class="icon button" (click)="openAssetAdd()">
        <app-icon icon="plus"></app-icon>
    </div>
</div>
<div class="items">

    <div class="item" *ngFor="let item of assetObject.contents">
        <h3 class="item-title">{{item.title}}</h3>

        <app-spritesheet-preview *ngIf="item.type === 'animation'"
        [title]="item.title"
        spritesheetSrc="{{apiUrl}}/api/uploads/assets/{{assetName}}/animation/{{item._id}}.png"
        [frames]="item.spriteSheetFrames"
        >
        </app-spritesheet-preview>


    </div>

</div>
<app-asset-item-create
[(isVisible)]="addingNewItem"
[submitFuntion]="addItem.bind(this)"
>
</app-asset-item-create>
