.asset-gallery-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--background-dark);
    border-bottom: 3px var(--primary-color) solid;
    align-items: center;
}

.title{
    margin-left: 15px;
}
.title-container{
    display: flex;
    align-items: center;
}

.icon.button{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin: 15px;
}
.icon.button app-icon{
    color: var(--background-dark);
}