.edit.button{
    padding: 15px;
    background-color: var(--primary-light);
    color: var(--background-dark);
    border-radius: 15px;
}
.elementTypes{
    display: flex;
}
.elementTypes *{
    margin: auto 15px;
}