.edit.button{
    padding: 15px;
    background-color: var(--primary-light);
    color: var(--background-dark);
    border-radius: 15px;
}
.edit.button.selected{
    background-color: var(--primary-color);
}

.edit-toolbar{
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
    padding-left: 25px;
    background-color: var(--primary-dark);
}

.edit-tools{
    display: flex;
    align-items: center;
    height: 150px;
}
.edit-tools * {
    display: flex;
    align-items: center;
    margin: auto 5px;
}


.tool{
    display: flex;
    align-items: center;
}



@media(max-width: 650px){
    .edit-toolbar{
        flex-wrap: wrap;
        justify-content: center;
    }
    .edit-tools{
        display: flex;
        align-items: center;
        height: 50px;
        margin: 5px;
    }

    .edit-toolbar{
        align-items: center;
        padding-right: 10px;
        padding-left: 10px;
    }
}
